:root {
    color-scheme: light dark;
}

body.light-mode {
    --background-color: #fff;
    --toast-background-color: #ddd4d4;
    --text-color: #2e475d;
    --hover: rgba(0, 0, 0, 0.9);
    --box-shdow: rgba(36, 35, 35, 0.1);
    --input-switch: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    --close-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232e475d'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

body {
    --background-color: #1b1818;
    --toast-background-color: #353030;
    --text-color: #90b8dd;
    --hover: #2e475de6;
    --box-shdow: #2e475d1e;
    --input-switch: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231b1818'/%3e%3c/svg%3e");
    --close-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2390b8dd'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
h1 strong,
h2 span {
    letter-spacing: -0.7px;
    font-family: 'Source Code Pro', sans-serif;
}

* {
    font-family: 'Maven Pro', sans-serif;
    color: var(--text-color) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    padding-top: 70px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: var(--text-color);
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

svg {
    fill: var(--text-color);
}

a,
.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

a:hover,
.nav-link:hover {
    color: #2196F3;
}

a {
    display: inline-block;
    position: relative;
}


a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2196F3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#qwe {
    color: var(--text-color);
}

footer a:after {
    width: 28% !important;
    margin-left: 8px !important;
}

a.btn::after {
    width: 0% !important;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link {
    font-weight: 400;
}

.hna {
    background-color: #2196F3;
    color: #fff;
    border-radius: 50px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border: none;
    text-align: center;
    transition: all 1s ease;
}

.qwer2 {
    background-color: #2196F360;
    transition: all 0.5s ease;
}

.active {
    color: #2196F3 !important;
    font-weight: 600;
    transition: all 1s ease;
}

.hna:hover {
    background: var(--hover);
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

nav {
    padding: 15px !important;
    background-color: transparent;
    transition: all 0.5s ease;
}

.icon,
.text {
    vertical-align: middle;
    display: inline-block;
}

.sec,
.navbar-brand-icon,
.prim {
    display: none;
}

.seco {
    display: inline-block;
}

@media (min-width:995px) {

    .sec,
    .prim {
        display: inline-block;
    }

    .seco {
        display: none;
    }
}

@media (min-width:0px) {

    .navbar-brand-icon,
    .navbar-brand-name {
        display: none;
    }
}

@media (min-width:250px) {

    .navbar-brand-name {
        display: none;
    }

    .navbar-brand-icon {
        display: inline-block;
    }
}

@media (min-width:400px) {

    .navbar-brand-icon,
    .navbar-brand-name {
        display: inline-block;
    }
}

.btn-primary {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff !important;
}

.fpass,
.accnt {
    color: #2196F3;
}

.btn-primary:hover {
    background-color: #2196F346;
    border-color: #2196F3;
    color: #2196F3;
}

@media (max-width:1080px) {


    .anh {
        background-color: #fff;
        color: #2196F3;
        border-radius: 5px;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: 20px !important;
        border: none;
        text-align: center;
        transition: all 1s ease;
    }

    .anh:hover {
        background: var(--hover);
    }

    footer {
        padding-top: 15% !important;
        padding-bottom: 8% !important;
    }
}

.offers {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.offer-sec {
    margin: 1%;
    border: none;
}

.card {
    background-color: var(--background-color);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml, <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"1em\" viewBox=\"0 0 448 512\"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d=\"M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z\"/></svg>") !important;
}

footer {
    box-shadow: 0 0 5em rgba(0, 0, 0, .10);
    background: var(--background-color);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 2%;
}

::selection {
    background-color: #2196F3a8;
    color: #ffffff;
}

::-moz-selection {
    background-color: #2196F3a8;
    color: #ffffff;
}

#qwe {
    background-image: var(--menu);
    background-size: 100%;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: flex;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#qwe111 {
    border: none;
}

.mb-3 {
    padding: 5%;
    margin-bottom: 0 !important;
    border: none;
}

.headerv5 {
    padding: 0%;
    margin-bottom: 0 !important;
    border: none;
}


.asd {
    border: none;
    margin: 3px;
    transition: all 0.5s ease;
}

.card-body {
    padding: 5%;
}

.scrolled-up-tr {
    background-color: transparent !important;
    box-shadow: none !important;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transform: translateY(0);
    box-shadow: 0 0 5em rgba(0, 0, 0, .2);
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon {
    background-image: url('/hamburger.svg');
}

.modal-header,
.modal-footer,
.modal-content {
    border: none;
}

.modal-content {
    padding: 2%;
    border-radius: 20px;
}

.modal-header {
    padding-bottom: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-color) !important;
}

#mobile {
    display: block;
}

#desktop, .txt-more {
    display: none;
}

@media (min-width:770px) {

    #mobile {
        display: none;
    }

    #desktop, .txt-more {
        display: block;
    }
}

.btn {
    border-radius: 50px;
    transition: all .8s ease;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.circle-png {
    border-radius: 50% !important;
}

input,
select,
textarea {
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    border-color: var(--text-color);
    border-style: solid;
    width: 100%;
    outline: none;
    background-color: var(--background-color);
}

input:focus,
select:focus,
textarea:focus {
    outline: 1px solid var(--text-color);
    border-color: var(--text-color);
}

.fpass {
    display: inline !important;

}

.sub-title {
    font-size: 1.1em !important;
}

@media (min-width:770px) {

    .name {
        width: 19.5%;
    }

    .sub-title {
        font-size: 1.6em !important;
    }
}

label {
    margin-top: 10px;
    font-size: 1.1em;
}

.card-text {
    font-size: 13px;
}

.nojs {
    position: fixed;
    z-index: 999999;
    bottom: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    background-color: #de5246;
    color: #ffffff;
    padding: 4px;
}

.toast {
    box-shadow: 0 0 5em rgba(0, 0, 0, .10);
    background-color: var(--toast-background-color);
    transition: box-shadow .3s;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.toast:hover {
    border-radius: 15px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    transition: all 0.5s ease;
}

#note {
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}


.form-group>label {
    background-color: var(--background-color);
    bottom: 35px;
    left: 15px;
    position: relative;
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
    transition: 0.2s;
    pointer-events: none;
}

input:focus~label,
select:focus~label {
    bottom: 56px;
}

input:valid~label,
select:valid~label {
    bottom: 56px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]::-webkit-datetime-edit,
input[type=date]:focus::-webkit-datetime-edit {
    color: var(--text-color) !important;
}

.navbar-brand {
    color: var(--text-color);
    font-size: 1em;
    text-transform: uppercase;
}

.navbar-brand img {
    padding: 0 5px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--text-color);
}

@media only screen and (max-device-width: 480px) {

    .navbar-brand {
        float: none !important;
    }

    .img-responsive {
        margin: 0 auto !important;
        display: block !important;
    }
}

.form-check-input {
    margin-top: 0px;
}

.form-switch .form-check-input {
    width: 2.5em;
}

div label {
    margin-top: 0px;
    margin-left: 10px;
}

.nav-item .btn {
    border: none;
    text-align: left;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
}

#modulesModal .modal-content {
    border-radius: 5px;
    border: none;
}

.modal-content {
    box-shadow: 0 0 5em var(--box-shdow);
    background-color: var(--background-color);
    letter-spacing: -0.7px;
    font-family: 'Source Code Pro', sans-serif;
    text-transform: uppercase;
}

.modal-backdrop.fade.show {
    display: none;
}

.input-group2 {
    position: relative;
}

.input-group2 i {
    position: absolute;
    left: 15px;
    top: 25px;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
}

.progress-container {
    width: 100%;
    background-color: transparent;
    height: 3.5px;
    display: block;
    z-index: 999999;
}

.progress-bar {
    background-color: var(--text-color);
    width: 0%;
    display: block;
    height: inherit;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    border: 2px solid #000;
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.btn-outline-primary {
    border: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: transparent;
}

.timeline-page:after {
    position: absolute;
    content: "";
    left: 0;
    right: -1px;
    top: 0px;
    width: 1px;
    height: 100%;
    margin: auto;
    border-right: 2px dashed #dee2e6 !important;
}

.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .date-label-left:before,
.timeline-page .timeline-item .duration-right:after,
.timeline-page .timeline-item .duration-right:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    z-index: 1;
}

.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .duration-right:after {
    top: 9px;
    width: 10px;
    height: 10px;
    background-color: #2a52c3;
}

.timeline-page .timeline-item .date-label-left:before,
.timeline-page .timeline-item .duration-right:before {
    border: 2px dashed #dee2e6;
    top: 0;
    width: 28px;
    height: 28px;
    background-color: #fff;
}

.timeline-page .timeline-item .date-label-left {
    float: right;
    margin-right: 24px;
}

.timeline-page .timeline-item .date-label-left:after {
    right: -41px;
}

.timeline-page .timeline-item .date-label-left:before {
    right: -50px;
}

.timeline-page .timeline-item .duration-right {
    float: left;
    margin-left: 24px;
}

.timeline-page .timeline-item .duration-right:after {
    left: -41px;
}

.timeline-page .timeline-item .duration-right:before {
    left: -50px;
}

.timeline-page .timeline-item .event {
    transition: all 0.2s ease;
}

.timeline-page .timeline-item .event .title {
    font-weight: 500;
    transition: all 0.2s ease;
}

.timeline-page .timeline-item .event.event-description-right {
    text-align: left;
    margin-left: 24px;
}

.timeline-page .timeline-item .event.event-description-left {
    text-align: right;
    margin-right: 24px;
}

@media (max-width: 575px) {
    .timeline-page {
        margin-left: 18px;
    }

    .timeline-page:after {
        margin: 0;
    }

    .timeline-page .timeline-item .duration {
        float: left !important;
        margin-left: 30px !important;
        margin-right: auto !important;
        text-align: left !important;
    }

    .timeline-page .timeline-item .duration:after {
        left: -34px !important;
    }

    .timeline-page .timeline-item .duration:before {
        left: -42px !important;
    }

    .timeline-page .timeline-item .duration .event {
        text-align: left !important;
        margin-left: 15px;
    }

    .timeline-page .timeline-item .event.event-description-left,
    .timeline-page .timeline-item .event.event-description-right {
        text-align: left !important;
        margin: 0 0 0 30px !important;
    }
}

.timeline-page .timeline-item .date-label-left:after {
    background-color: #f89d36 !important;
}

.avatar.avatar-ex-small {
    height: 36px;
    width: 36px;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.text-muted {
    color: var(--text-color) !important;
}

.toast-header {
    background-color: transparent;
    color: var(--text-color);
}

.toast-header strong {
    font-family: 'Source Code Pro', sans-serif;
}

.list-group-item {
    background: transparent;
    color: var(--text-color);
    border: none;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    color: var(--hover);
    transition: all 0.5s ease;
    padding-left: 1px;
}

.form-switch .form-check-input:checked,
.form-switch .form-check-input:focus {
    --bs-form-switch-bg: var(--input-switch);
}

.form-switch .form-check-input {
    width: 2.7em;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-label {
    font-size: 1em;
}

.toast-header {
    border-bottom-color: var(--text-color);
    padding: 10px;
}

.btn-close {
    --bs-btn-close-bg: var(--close-button);
}

.toast-body {
    color: var(--text-color);
}

.form-check-input {
    background-color: var(--background-color);
    border-color: var(--text-color);
}