run = "while [ true ]; do php -S 0.0.0.0:8000 -t .; done"

entrypoint = "index.php"

[nix]
channel = "stable-22_11"

[deployment]
run = ["php", "-S", "0.0.0.0:8000", "-t", "."]
deploymentTarget = "cloudrun"